.color1 {
    background-color: black;
}

.color2 {
    color: white;
}

.color3 {
    color: red;
    font-size: 4rem;

}

body {
    text-align: center;
}

table {
    margin: 0 auto;
}

@keyframes blinking {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.color3 {
    animation: blinking 0.5s ease-in-out infinite alternate;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

.timer {
    position: relative;
    top: 50px;
    left: 3px;
    color: red;
    text-align: center;
    font-size: 5em;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #000000;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}